/.eslintcache
/.tsbuildinfo
/.wireit
/*.tgz
/lib
/node_modules
/temp

/vscode-extension/.wireit
/vscode-extension/lib
/vscode-extension/.tsbuildinfo
/vscode-extension/.vscode-test
/vscode-extension/*.vsix
/vscode-extension/built

/website/.wireit
/website/_site
/website/node_modules

.DS_Store
