node_modules/
.DS_Store
.eslintcache
.tsbuildinfo
.wireit/

/*.tgz
/lib/
/temp/

/vscode-extension/lib/
/vscode-extension/.vscode-test/
/vscode-extension/*.vsix
/vscode-extension/built/

/website/_site/
/website/client/lib/
