{% set base = page.url | relativePathToRoot -%}
<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %} <link rel="stylesheet" href="{{ base }}/docs.css">
  </head>
  <body>
    {% include "header.njk" %}
    <main>
      <nav>
        {{ collections.all
          | eleventyNavigation
          | eleventyNavigationToHtml({
              activeKey: eleventyNavigation.key,
              activeListItemClass: "active"
            })
          | safe }}
      </nav>
      <article id="content">
        {{ content | safe }}
      </article>
    </main>
    {% include "footer.njk" %}
  </body>
</html>
