{% set base = page.url | relativePathToRoot -%}
<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %} <link rel="stylesheet" href="{{ base }}/docs.css">
  </head>
  <body>
    {% include "header.njk" %}
    <main>
      <nav>
        <div id="badges">
          <span id="githubStarsBadge">
            <a
              class="github-button"
              href="https://github.com/google/wireit"
              data-color-scheme="no-preference: light; light: light; dark: dark;"
              data-icon="octicon-star"
              data-size="medium"
              data-show-count="true"
              aria-label="Star google/wireit on GitHub">Star</a>
          </span>
          <a id="npmBadge" href="https://www.npmjs.com/package/wireit" rel="nofollow"><img src="https://img.shields.io/npm/v/wireit?color=%230051af&logo=npm" alt="Published on npm" data-canonical-src="">
          </a>
        </div>
        {{ collections.all
          | eleventyNavigation
          | eleventyNavigationToHtml({
              activeKey: eleventyNavigation.key,
              activeListItemClass: "active"
            })
          | safe }}
      </nav>
      <article id="content">
        {{ content | safe }}
      </article>
    </main>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
