<footer>
  <div id="logo-and-copyright">
    <img src="{{ base }}/wireit-bw.svg" alt="Wireit" height="100">
    <div id="copyright">
      <h3>Licensing</h3>
      <p>Code:
        <a href="https://spdx.org/licenses/Apache-2.0.html" target="_blank">
          <code>Apache-2.0</code>
        </a>
      </p>
      <p>Documentation:
        <a href="https://spdx.org/licenses/CC-BY-3.0" target="_blank">
          <code>CC-BY-3.0</code>
        </a>
      </p>
    </div>
  </div>
  <div>
    <h3>Community</h3>
    <ul>
      <li><a href="https://discord.gg/chmdAwvq4e" target="_blank">Chat</a></li>
      <li><a href="https://github.com/google/wireit" target="_blank">Source code</a></li>
      <li><a href="https://github.com/google/wireit/blob/main/CONTRIBUTING.md" target="_blank">Contributing</a></li>
    </ul>
  </div>
  <div>
    <h3>Documentation</h3>
    <ul>
      <li><a href="/docs/setup/">Get Started</a></li>
      <li><a href="/docs/reference/">Reference</a></li>
      <li><a href="https://github.com/google/wireit/blob/main/CHANGELOG.md" target="_blank">Changelog</a></li>
    </ul>
  </div>
  <div>
    <h3>Support</h3>
    <ul>
      <li><a href="https://discord.gg/chmdAwvq4e" target="_blank">#ask-for-help</a></li>
      <li><a href="https://github.com/google/wireit/issues/new" target="_blank">Report a bug</a></li>
      <li><a href="https://github.com/google/wireit/issues/new" target="_blank">Feature request</a></li>
    </ul>
  </div>
</ul></footer>
