{% set base = page.url | relativePathToRoot -%}
<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %} <link rel="stylesheet" href="{{ base }}/index.css">
  </head>
  <body>
    {% include "header.njk" %}
    <main id="content">
      <section>{% renderFile "content/_includes/intro/00.md" %}</section>
      <section>{% renderFile "content/_includes/intro/01.md" %}</section>
      <section>{% renderFile "content/_includes/intro/02.md" %}</section>
      <section>{% renderFile "content/_includes/intro/03.md" %}</section>
      <section>{% renderFile "content/_includes/intro/04.md" %}</section>
      <section>{% renderFile "content/_includes/intro/05.md" %}</section>
    </main>
    {% include "footer.njk" %}
    <script type="module" src="/js/intro.js"></script>
  </body>
</html>
