{% set base = page.url | relativePathToRoot -%}
<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %} <link rel="stylesheet" href="{{ base }}/index.css">
  </head>
  <body>
    {% include "header.njk" %}
    <main id="content">
      {% renderFile "content/_includes/intro.md" %}
    </main>
    {% include "footer.njk" %}
    <script type="module" src="/js/intro.js"></script>
  </body>
</html>
