/* Reset */
body {
  margin: 0;
  font-family: Poppins, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  /* Global variables */
  --header-height: 80px;
  --footer-height: 300px;
  background: var(--background-color);
  color: var(--foreground-color);
}

body.light {
  --background-color: #fff;
  --foreground-color: #0d1117;
  --header-logo-url: url('/wireit-vlockup-color-light.svg');
  --wireit-runner-picker-pill-color: #24bb69;
  /* --background-color: #fff;
  --background-color-alt: #dbdbdb09;
  --text-color: #000;
  --link-color: #cb0040;
  --line-color: #ccc;
  --nav-background: #00000009;
  --nav-link-color: #333;
  --nav-active-link-color: #cb0040;
  --blockquote-stripe-color: #14df5c;
  --footer-foreground-color: #000;
  --footer-background-color: #eee; */
}

body.dark {
  --background-color: #0d1117;
  --foreground-color: #fff;
  --header-logo-url: url('/wireit-vlockup-color-dark.svg');
  --wireit-runner-picker-pill-color: #24bb69;
  /**
  --background-color-alt: #ffffff17;
  --text-color: #ddd;
  --link-color: #58a6ff;
  --line-color: #444;
  --nav-background: #000000a6;
  --nav-link-color: #ddd;
  --nav-active-link-color: #14df5c;
  --blockquote-stripe-color: #0c8838;
  --footer-foreground-color: #ddd;
  --footer-background-color: #444; */
}

#skipnav {
  position: absolute;
  top: 0;
  left: -100%;
  background: inherit;
  padding: 0.5em;
  margin: 1em;
  /* color: var(--link-color); */
}
#skipnav:focus {
  left: 0;
}

header {
  width: 100%;
  border-width: 0 0 4px 0;
  border-style: solid;
  border-image: linear-gradient(to right, #c8e259, #0ed7d5) 1;
  height: var(--header-height);
  padding: 0 20px 0 20px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  /* background: var(--header-background-color); */
  background-color: inherit;
  box-shadow: rgb(0 0 0 / 20%) -1px 1px 8px 1px;
  z-index: 1;
}

header .wireit-logo {
  background-image: var(--header-logo-url);
  width: 60px;
  height: 60px;
}

header > wireit-runner-picker {
  display: flex;
  align-items: center;
  justify-content: center;
}

header > nav {
  display: flex;
  align-items: center;
}
header > nav a {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
}
header > nav a.active,
header > nav a:hover,
header wireit-theme-picker:hover {
  /* color: #000; */
}
header > nav > #social {
  margin-left: 20px;
}
header > nav > #social > a {
  padding: 5px;
}
header > nav > #social > * {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  opacity: 70%;
}
header > nav > #social > *:hover {
  opacity: 100%;
}

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  box-sizing: border-box;
  margin: auto;
}

footer {
  /* color: var(--footer-foreground-color); */
  /* background: var(--footer-background-color); */
  display: flex;
  justify-content: space-between;
  padding: 50px 120px;
  height: var(--footer-height);
  box-sizing: border-box;
}

footer img {
  opacity: 20%;
}

footer h3 {
  text-transform: uppercase;
  font-size: 16px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer li {
  line-height: 40px;
}
footer a:hover {
  /* color: #000; */
  text-decoration: underline;
}

#copyright {
  margin: 20px 0 0 0;
}

#copyright p {
  margin: 0 0 0 0;
}

.splash {
  margin-top: 100px;
}
