main {
  display: flex;
}

main > nav {
  position: sticky;
  top: var(--header-height);
  align-self: flex-start;
  margin: 0;
  margin: 30px 0 40px 40px;
}

main > nav > ul {
  list-style-type: none;
  padding: 30px 30px 40px 30px;
  margin: 0;
}

main > nav > ul > li > a {
  display: block;
  padding: 3px 20px;
  margin: 5px 0;
}

main > nav > ul > li > a:hover,
main > nav > ul > li.active > a {
  background: rgb(240, 240, 240);
  border-radius: 10px;
}

main > article {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0 30px 0;
}

main > article > h2 {
  font-size: 32px;
  font-weight: 400;
  margin: 30px 0 30px 0;
  color: rgb(82, 82, 82);
}

main > article > h3 {
  font-weight: 600;
  font-size: 20px;
  color: rgb(124, 124, 124);
}

main > article a {
  color: rgb(0, 122, 41);
  text-decoration: underline;
}
