body.light {
  --bold-color: #24bb69;
}
body.dark {
  --bold-color: #24bb69;
}

h2 {
  font-size: 42px;
  font-weight: normal;
}

section {
  margin: 0 auto;
  padding: 50px;
  /* color: white; */
  /* height: max(auto, 30vh); */
}

main section:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: rgb(112, 112, 112); */
}

main section wireit-runner-picker {
  margin-left: 10px;
  font-size: 24px;
}

main section:nth-child(1) p {
  font-size: 24px;
  text-align: center;
}

main section:nth-child(2) pre {
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) -1px 1px 8px 1px;
  width: 50%;
  margin-top: 50px;
}

p {
  font-size: 20px;
}

main section a.more-button {
  /* color: white; */
  padding: 7px 25px;
  border-radius: 10px;
  /* background: #00000075; */
  margin: 40px 0;
  box-shadow: rgb(0 0 0 / 20%) -1px 1px 8px 1px;
}
main section a:hover {
  /* background: #000; */
}

main section p {
  margin-top: 40px;
  /* max-width: 25em; */
}

.side-by-side {
  display: flex;
  justify-content: space-around;
}

img {
  margin-top: -90px;
}

strong {
  color: var(--bold-color);
}

.background-gradient-1 {
  /* background: linear-gradient(90deg, rgba(0, 0, 0, 0), #24bb69); */
  border-width: 4px 0 4px 0;
  border-style: solid;
  border-image: linear-gradient(to right, #c8e259, #0ed7d5) 1;
}

.max-width {
  max-width: 1000px;
}

.center {
  margin: auto;
}
