name: Tests

on: [push, pull_request]

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2022, macos-11]
        # See https://nodejs.org/en/about/releases/ for latest LTS information.
        node: [16] # Active LTS
        include:
          # Also test latest, but just one OS should give us sufficient
          # coverage.
          - os: ubuntu-20.04
            node: 18

      # Allow all matrix configurations to complete, instead of cancelling as
      # soon as one fails. Useful because we often have different kinds of
      # failures depending on the OS.
      fail-fast: false

    # Sometimes windows is far slower than the other OSs. Give it enough
    # time to complete if it's going to.
    timeout-minutes: 40
    runs-on: ${{ matrix.os }}

    env:
      # TODO(aomarks) It's a little difficult to read the test results, because
      # stdio streams of all parallel processes are interleaved. Remove this
      # after implementing stdio locking.
      WIREIT_PARALLEL: 1

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: npm

      - uses: google/wireit@setup-github-actions-caching/v1

      - run: npm ci

      # See https://code.visualstudio.com/api/working-with-extensions/continuous-integration#github-actions for why we need xvfb-run
      - run: npm test
        if: runner.os != 'Linux'
      - run: xvfb-run -a npm test
        if: runner.os == 'Linux'

  lint-and-format:
    timeout-minutes: 5
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm

      - run: npm ci
      - run: npm run lint
      - run: npm run format:check
